* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* ? Navbar */
.navbar-nav a {
  color: black;
}

@media screen and (max-width: 992px) {
  .navbar-nav a {
    font-size: 20px;
    font-weight: 500;
  }
}

@media screen and (max-width: 475px) {
  .navbar-nav a {
    font-size: 16px;
    font-weight: 500;
  }

  .logo-img {
    width: 50px;
    height: 50px;
  }

  .logo-text {
    font-size: 16px;
  }
}
/* ? Navbar */

/* ? Homepage */
.homepage section {
  padding-top: 150px;
  /* padding-bottom: 100px; */
}

.homepage .section-title {
  font-weight: bold;
  font-size: 50px;
  /* border-bottom: 5px solid #002852; */
  display: inline-block;
  padding-bottom: 5px;
}

@media screen and (max-width: 475px) {
  .homepage .section-title {
    font-size: 40px;
  }
}

/* BERITA TERBARU */
.homepage .berita-terbaru {
  padding-top: 130px;
}

.homepage .berita-terbaru .berita-utama .col:hover img,
.homepage .berita-terbaru .berita-lainnya .col:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.homepage .berita-terbaru .berita-utama .bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homepage .berita-terbaru .berita-utama .info-berita {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.homepage .berita-terbaru .berita-lainnya img {
  width: 100%;
  height: 200px;
}

.homepage .berita-terbaru .berita-lainnya .bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homepage .berita-terbaru .berita-lainnya .info-berita {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.homepage .berita-terbaru .berita-lainnya .info-berita p {
  color: white;
}

.homepage .berita-terbaru .berita-lainnya .info-berita .date {
  display: none;
}

@media screen and (max-width: 992px) {
  .homepage .berita-terbaru .berita-lainnya .info-berita p {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .homepage .berita-terbaru .berita-lainnya .col {
    margin-bottom: 20px;
  }

  .homepage .berita-terbaru .berita-utama .col:hover img,
  .homepage .berita-terbaru .berita-lainnya .col:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }

  .homepage .berita-terbaru .berita-lainnya img {
    width: 250px;
    height: 200px;
  }

  .homepage .berita-terbaru .berita-lainnya .info-berita {
    position: static;
  }

  .homepage .berita-terbaru .berita-lainnya .info-berita p {
    color: black;
    font-size: 16px;
  }

  .homepage .berita-terbaru .berita-lainnya .info-berita .date {
    display: block;
    font-size: 14px;
    opacity: 50%;
  }
}

@media screen and (max-width: 576px) {
  .homepage .berita-terbaru .berita-lainnya img {
    width: 200px;
    height: 180px;
  }
}

@media screen and (max-width: 475px) {
  .homepage .berita-terbaru .berita-lainnya img {
    width: 150px;
    height: 120px;
  }
  .homepage .berita-terbaru .berita-lainnya .info-berita p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .homepage .berita-terbaru .berita-lainnya .info-berita .date {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .homepage .berita-terbaru .berita-lainnya .info-berita p {
    font-size: 12px;
  }

  .homepage .berita-terbaru .berita-lainnya .info-berita .date {
    font-size: 10px;
  }
}
/* BERITA TERBARU */

/* Scrollbar Custon */
::-webkit-scrollbar {
  width: 0;
}
/* Scrollbar Custon */

/* Galeri */
.homepage .galeri-kegiatan .galeri-title {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/homepage/gallery/galeri-img-section.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
/* Galeri */

/* ? Homepage */

/* ? Profile */
.profil .section-title {
  padding-top: 200px;
  padding-bottom: 50px;
  text-align: center;
}

.profil .section-title h1 {
  font-weight: bold;
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .profil .section-title h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 475px) {
  .profil .section-title h1 {
    font-size: 32px;
  }
}

/* Tentang kami */
/* Tentang kami */
/* ? Profile */

/* ? Gallery */
.gallery .section-title {
  padding-top: 200px;
  padding-bottom: 50px;
  text-align: center;
}

.gallery .section-title h1 {
  font-weight: bold;
  font-size: 50px;
}
/* KBM */

/* KBM */
/* ? Gallery */

/* Footer */
.footer {
  width: 100%;
  min-height: 50vh;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-top: 100px;
  background-color: #1e1e1e;
}

.footer .logo-text {
  font-size: 18px;
  color: white;
}

.footer .row:nth-child(1) .menu-footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.footer .row:nth-child(1) .menu-footer a:hover {
  color: white;
}
/* Footer */

/* Kontak & Alamat */
.kontak .kontak-alamat {
  padding-top: 200px;
  padding-bottom: 50px;
  text-align: center;
}
.kontak .kontak-alamat h1 {
  font-weight: bold;
  font-size: 50px;
}
/* Kontak & Alamat */
